<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/user.css">
</head>

<body>
    <div class="container my-5 text-center d-flex justify-content-center">
        <form class=" text-center   badge-light w-50   p-4" action="/add-emp" method="POST">
            <h3 class="py-2">Register</h3>
            <div class="form-row form-group ">
                <div class="col">
                    <input type="text" class="form-control" value="anil" name="firstName" id="firstName"
                        placeholder="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" value="kumar" name="LastName" placeholder="Last name">
                </div>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="userPhoneNumber" id="phoneNumberId" value="9513574565"
                    placeholder="Enter Your Phone Number">
            </div>
            <div class="form-group ">
                <input type="email" class="form-control" name="useremail" id="emailId" value="anil123@gmail.com"
                    placeholder="Enter Your Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" value="Anil923546"
                    placeholder="Enter password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirmPassword" value="Anil923546"
                    id="confirmPassword" placeholder="confirm  password">
            </div>
            <div class="form-group w-100 custom-control-inline">
                <h3 class="mr-5">Gender </h3>
                <div class="custom-control custom-radio custom-control-inline d-flex align-items-center">
                    <input type="radio" id="maleRadiocheck" name="gender" value="Male" class="custom-control-input"
                        checked>
                    <label class="custom-control-label h5" for="maleRadiocheck">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline d-flex align-items-center">
                    <input type="radio" id="femaleRadiocheck" name="gender" value="Female" class="custom-control-input">
                    <label class="custom-control-label h5" for="femaleRadiocheck">Female</label>
                </div>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="dfb" id="dfb" value="1997-07-01"
                    placeholder="Enter Your date of birth">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="ip_address" id="ip_address" value="564564"
                    placeholder="Enter Your Ip Address">
            </div>
            <div class="input-group mb-3">
                <div class="custom-file"><input type="file" accept="image/*" id="file"
                    name="imgsrc"  onchange="loadFile(event)"  >
                    <label for="file"   style="cursor: pointer;">Upload Image</label>
                </div>

                <div><img id="output"   width="80"/></div>
                <script>
              let img=[];
              let loadFile = function (event) {
                        let image = document.getElementById('output');
                        image.src = URL.createObjectURL(event.target.files[0]);
                        // document.getElementById('file').innerHTML = image.src   ;
                       img.push(imge.src);
                        localStorage.setItem("images",imag) 
                    };
                </script>
            </div>
            <div class="form-group mb-3 ">
                <input type="checkbox" class="custom-control-input text-right" value="Yes" name="Accepted"
                    id="agreeCheck" checked>
                <label class="custom-control-label" for="agreeCheck">I Agree all terms and conditions
                    <a href="#">learn more</a>
                </label>
            </div>
            <button type="submit" class="btn btn-primary px-5">Submit</button>
        </form>
    </div>
    <%- include('../includes/end.ejs') %>