<header class="main-header">
  <nav class="navbar navbar-expand-lg  flex-column navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">All Users</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/selected" >emp selected </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rejected">rejected</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/edited" >Edited </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/empCards" >emp Cards </a>
          </li>
        </ul>
      </div>
      <form class="d-flex">
        <div class="form">
          <a href="/add-emp"><button type="button" class="btn btn-light form-control">Add Employee</button></a>
        </div>
      </form>
    </div>
  </nav>
</header>

