<header class="main-header  fixed-top  mb-5">
  <nav class="navbar p-3  navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="https://attachments.office.net/owa/anil%40rainfo.in/service.svc/s/GetAttachmentThumbnail?id=AAMkAGRhMmM0MjFhLWJkMzEtNGUwOS1hMGU1LWZlMTc5ZDdiZTRmMgBGAAAAAAAQ8EzVAaMkRIcXBGtGOvvEBwD0m08HLVKlRZFvyM8prwJ9AAAAAAEJAAD0m08HLVKlRZFvyM8prwJ9AAD4%2BcApAAABEgAQANjddFNaLvBPgl6ydhPf6ng%3D&thumbnailType=2&token=eyJhbGciOiJSUzI1NiIsImtpZCI6IjMwODE3OUNFNUY0QjUyRTc4QjJEQjg5NjZCQUY0RUNDMzcyN0FFRUUiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJNSUY1emw5TFV1ZUxMYmlXYTY5T3pEY25ydTQifQ.eyJvcmlnaW4iOiJodHRwczovL291dGxvb2sub2ZmaWNlMzY1LmNvbSIsInVjIjoiNjliNzY5ZmM1YjI5NGY2MmFjMjNkOTYzYTYwMDhlYzIiLCJzaWduaW5fc3RhdGUiOiJbXCJrbXNpXCJdIiwidmVyIjoiRXhjaGFuZ2UuQ2FsbGJhY2suVjEiLCJhcHBjdHhzZW5kZXIiOiJPd2FEb3dubG9hZEBmNTk3MmQxYS0yNDViLTRkOTYtODEzNy05YWQ2OTM1YjgxZjAiLCJpc3NyaW5nIjoiV1ciLCJhcHBjdHgiOiJ7XCJtc2V4Y2hwcm90XCI6XCJvd2FcIixcInB1aWRcIjpcIjExNTM4MDExMTYzOTgzMDY2MTFcIixcInNjb3BlXCI6XCJPd2FEb3dubG9hZFwiLFwib2lkXCI6XCJjNjkyNzFkZi02Y2Q2LTRjZDgtODY2ZS04ZTMzNzY5MGY0OGVcIixcInByaW1hcnlzaWRcIjpcIlMtMS01LTIxLTEyMjcwODQ0NC0zMTE0NDkzOTg3LTMyMzYyNzQ3NjktNzEwMTQ0MFwifSIsIm5iZiI6MTYxMzcyMzk4NSwiZXhwIjoxNjEzNzI0NTg1LCJpc3MiOiIwMDAwMDAwMi0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDBAZjU5NzJkMWEtMjQ1Yi00ZDk2LTgxMzctOWFkNjkzNWI4MWYwIiwiYXVkIjoiMDAwMDAwMDItMDAwMC0wZmYxLWNlMDAtMDAwMDAwMDAwMDAwL2F0dGFjaG1lbnRzLm9mZmljZS5uZXRAZjU5NzJkMWEtMjQ1Yi00ZDk2LTgxMzctOWFkNjkzNWI4MWYwIiwiaGFwcCI6Im93YSJ9.EzrDGwZ-55f-01KtCzRCi_teRUjudBdb-qoXRlSWByz58lGZ-7HSQuJkNjYFPyl5jDRTsz2aBq-TRcyptnkFjHwCDdox5HSPIaw6pNrt1tgvmBh0eWYjV0DBhj4IZIp0BQVamfUIcNfJ26Fx-nWerK1OhG3521c0eSFNeWdNKZRStfW3bYUFrpEwMT7CXr764aTuopwyFok3ZokonVIuri03EeoK1UqF0ks7h9hEw3QnHykPxhbBUgKmy8nBnooJDHYwmvPbpjRxvVqLSHToz6jwBL9py7ZPkPLk0nooih01PDSiyp8HzX04Vbl_Wxsf8v_rZVNoE1TMcZR3MsdS3Q&X-OWA-CANARY=GjqX2ay33k-UjOwyEvWQtqAIzA-y1NgYb8hP9ReyBeAu6Htf_k3qsuPK5JPxHpKHLZUu4xYQQ9c.&owa=outlook.office365.com&scriptVer=20210208002.03&animation=true" width="30" height="30"
        class="d-inline-block align-top w-25" height="auto" alt="logo">
      <span class="menu-collapsed">Right Avenue</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-2">
          <a href="/add-emp" type="button" class="btn btn-light form-control">Add Employee </a>
        </li>

        <li class="nav-item">
          <a href="/ " type="button" class="btn btn-light form-control">logout </a>
        </li>

      </ul>
    </div>
  </nav>
</header>
