  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
 <!-- cardanamation  -->
    <script>
        function map(val, minA, maxA, minB, maxB) {
            return minB + ((val - minA) * (maxB - minB)) / (maxA - minA);
        }

        function Card3D(card, ev) {
            let Card = card.querySelector('.h');
            let CardRect = card.getBoundingClientRect();
            let width = CardRect.width;
            let height = CardRect.height;
            let mouseX = ev.offsetX;
            let mouseY = ev.offsetY;
            let rotateY = map(mouseX, 0, 550, -15, 35);
            let rotateX = map(mouseY, 0, 800, 20, 55);
            let brightness = map(mouseY, 0, 150, 1.5, 0.5);

            Card.style.transform = `rotateX(${rotateX}deg) rotateY(${rotateY}deg)`;
            Card.style.filter = `brightness(${brightness})`;
        }

        var cards = document.querySelectorAll('.card3d');

        cards.forEach((card) => {
            card.addEventListener('mousemove', (ev) => {
                Card3D(card, ev);
            });

            card.addEventListener('mouseleave', (ev) => {
                let Card = card.querySelector('.card');

                Card.style.transform = 'rotateX(0deg) rotateY(0deg)';
                Card.style.filter = 'brightness(1)';
            });
        });
    </script>
 <!-- sidebar -->
 <script>
    // Hide submenus
  $('#body-row .collapse').collapse('hide'); 
  
  // Collapse/Expand icon
  $('#collapse-icon').addClass('fa-angle-double-left'); 
  
  // Collapse click
  $('[data-toggle=sidebar-colapse]').click(function() {
      SidebarCollapse();
  });
  
  function SidebarCollapse () {
      $('.menu-collapsed').toggleClass('d-none');
      $('.sidebar-submenu').toggleClass('d-none');
      $('.submenu-icon').toggleClass('d-none');
      $('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');
      
      // Treating d-flex/d-none on separators with title
      var SeparatorTitle = $('.sidebar-separator-title');
      if ( SeparatorTitle.hasClass('d-flex') ) {
          SeparatorTitle.removeClass('d-flex');
      } else {
          SeparatorTitle.addClass('d-flex');
      }
      
      // Collapse/Expand icon
      $('#collapse-icon').toggleClass('fa-angle-double-left fa-angle-double-right');
  }
  </script>
  </body>

  </html>